# App config
APP_PORT=3000                                                                   # Port to run the app on
NODE_ENV="development"                                                          # Environment to run the app in

# Admin config
ADMIN_EMAIL="admin@email.com"                                                   # Username of the admin account
ADMIN_PASSWORD="password"                                                       # Password of the admin account

# Postgres config
POSTGRES_USER="postgres"                                                        # Username of the postgres server
POSTGRES_PASSWORD="password"                                                    # Password of the postgres server
POSTGRES_HOST="127.0.0.1"                                                       # Hostname of the postgres server
POSTGRES_PORT=5432                                                              # Port of the postgres server
POSTGRES_DB="postgres"                                                          # Database name of the postgres server
DB_DEBUG=false                                                                  # Enable debug mode for the postgres server

# Security config
ACCESS_TOKEN_SECRET="access-token-secret"                                       # Secret to sign the access token
REFRESH_TOKEN_SECRET="refresh-token-secret"                                     # Secret to sign the refresh token
ACCESS_TOKEN_TTL=3600                                                           # Time to live of the access token in seconds
REFRESH_TOKEN_TTL=604800                                                        # Time to live of the refresh token in seconds

# Redis config
REDIS_HOST="127.0.0.1"                                                          # Hostname of the redis server
REDIS_PORT=6379                                                                 # Port of the redis server
REDIS_PASSWORD="password"                                                       # Password of the redis server
REDIS_TLS=false                                                                 # Enable TLS for the redis server
